
**/*.a
**/*.app
**/*.cmd
**/*.d
**/*.dSYM/
**/*.dll
**/*.dylib
**/*.elf
**/*.exe
**/*.exp
**/*.gch
**/*.hex
**/*.i*86
**/*.idb
**/*.ilk
**/*.ko
**/*.la
**/*.lai
**/*.lib
**/*.lo
**/*.map
**/*.mod
**/*.mod*
**/*.o
**/*.obj
**/*.out
**/*.pch
**/*.pdb
**/*.rs.bk
**/*.slo
**/*.smod
**/*.so
**/*.so.*
**/*.su
**/*.x86_64
**/Cargo.lock
**/debug/
**/target/
.tmp_versions/
Mkfile.old
Module.symvers
dkms.conf
modules.order